html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* låser alt på skjermen */
    height: 100vh;
  }
  
  
  h1, h2, .title {
    font-family: 'Cinzel', serif;
  }
  
  :global(.marketScroll)::-webkit-scrollbar {
    width: 8px;
  }
  
  :global(.marketScroll)::-webkit-scrollbar-thumb {
    background: #e6ac2a;
    border-radius: 4px;
  }
  
  :global(.marketScroll) {
    scrollbar-width: thin;
    scrollbar-color: #e6ac2a rgba(0, 0, 0, 0.2);
  }
  